.python-container {
    max-width:100%;
    margin: 20px auto;
    padding-top: 15px;
  }
  
  .accordion {
    width:90%;
    margin:0 auto;
    border: 1px solid rgb(82, 81, 81);
    border-radius: 8px;
    overflow: hidden;
    margin-top: 20px;
    
  }
  .python-container  .title{
    font-size: 40px;
    font-weight: 500;
    padding-left: 50px;
  }
  
  .accordion-header {
    width: 100%;
    background-color: rgb(36, 35, 35);
    color: white;
    padding: 5px;
    font-size: 17px;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accordion-content {
    padding: 15px;
    background-color: #f9f9f9;
    border-top: 1px solid #ccc;
    animation: fadeIn 0.2s ease-in-out;
  }
  .accordion-content p{
    color:black;
  }
  /* Smooth Animation */
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to { opacity: 1; transform: translateY(0); }
  }
  