/* Fullscreen background video */
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    bottom:-50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Keeps the video in the background */
}
